{% extends "base.html" %}
{% load i18n %}

{% block head_title %}
    {% trans "Sign In | Rum Away Bar" %}
{% endblock head_title %}

{% block content %}
<div class="container auth-wrapper">
    <div class="auth-container">
        <h2>{% trans "Sign In" %}</h2>
        <p>
            {% blocktrans %}Welcome back to our reservation and ordering system. Please log in. If you don't have an account, <a class="link text-primary" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
        </p>

        <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>

            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}

            <button class="btn btn-primary w-100" type="submit">{% trans "Sign In" %}</button>
        </form>
    </div>
</div>
{% endblock content %}
