{% extends "base.html" %}
{% load static %}
{% load i18n %}


{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                {% if event.image %}
                <img src="{{ event.image.url }}" class="card-img-top" alt="{{ event.title }}">
                {% else %}
                <img src="{% static 'images/default_event.jpg' %}" class="card-img-top" alt="{{ event.title }}">
                {% endif %}
                <div class="card-body">
                    <h1 class="display-4">{{ event.title }}</h1>
                    <p class="text-muted">Date: {{ event.date|date:"F j, Y, g:i A" }}</p>
                    <p>{{ event.description }}</p>
                    <a href="{% url 'event_list' %}" class="btn btn-secondary">Back to Events</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}