{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <h1 class="display-4 text-center mb-4 animate__animated animate__zoomIn">Our Menu</h1>
    <p class="lead text-center mb-5 animate__animated animate__fadeIn animate__delay-0.5s">
        Explore our exquisite selection and discover your new favorite drink.
    </p>

    <!-- Menu Categories Section -->
    <div class="text-center mb-5">
        <h2 class="display-5 mb-4 animate__animated animate__fadeIn animate__delay-1s">Categories</h2>
        <div class="btn-group mb-4" role="group" aria-label="Menu Categories">
            {% for category in categories %}
            <button type="button"
                class="btn btn-outline-primary btn-lg btn-category animate__animated animate__pulse animate__delay-0.5s"
                data-category="{{ category }}" data-bs-toggle="modal" data-bs-target="#drinksModal">
                {{ category }}
            </button>
            {% endfor %}
        </div>
    </div>

    <!-- Drinks Modal -->
    <div class="modal fade" id="drinksModal" tabindex="-1" aria-labelledby="drinksModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content animate__animated animate__fadeIn animate__delay-0.5s">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title" id="drinksModalLabel">Drinks</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="modal-description" class="animate__animated animate__fadeInUp"></p>
                    <div id="drinks-container" class="row"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/menu.js' %}"></script>
{% endblock %}
