{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-4">{{ page_title }}</h1>

    {% if user.is_authenticated %}
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card profile-card">
                <img src="{% if user.userprofile.profile_picture %}{{ user.userprofile.profile_picture.url }}{% else %}{% static 'images/nobody.jpg' %}{% endif %}"
                    class="card-img-top profile-picture" alt="Profile Picture">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ user.username }}</h5>
                    <p class="card-text text-center">Email: {{ user.email }}</p>
                    <p class="card-text text-center">Bio: {% if user.userprofile.bio %}
                        {{ user.userprofile.bio }}
                        {% else %}No bio available{% endif %}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Profile update form -->
    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    {{ user_form.first_name.label_tag }} {{ user_form.first_name }}
                </div>
                <div class="mb-3">
                    {{ user_form.last_name.label_tag }} {{ user_form.last_name }}
                </div>
                <div class="mb-3">
                    {{ user_form.email.label_tag }} {{ user_form.email }}
                </div>
                <div class="mb-3">
                    {{ profile_form.bio.label_tag }} {{ profile_form.bio }}
                </div>
                <div class="mb-3">
                    {{ profile_form.profile_picture.label_tag }} {{ profile_form.profile_picture }}
                </div>
                <button type="submit" class="btn btn-primary">Update Profile</button>
            </form>
        </div>
    </div>

    {% else %}
    <p class="text-center">{% trans "You need to be logged in to view this page." %}</p>
    {% endif %}
</div>
{% endblock %}