{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Reservations | Rum Away{% endblock %}

{% block content %}

<main class="container mt-5 reservation-main">
    <header>
        <h2 class="text-center mb-4 reservation-header">✨ Reservation Confirmation ✨</h2>
    </header>

    <section class="reservation-section">
        <div class="alert alert-success text-center reservation-alert">
            <div class="circular-border">
                <h4 class="alert-title">Your reservation has been successfully made!</h4>
            </div>
            <p class="alert-message">Thank you for choosing us. We can’t wait to welcome you!</p>
            <p class="alert-message">For inquiries, feel free to contact us anytime.</p>
            <div class="button-group">
                <a href="{% url 'profile' %}" class="btn btn-primary mt-3">Go to Profile</a>
                <br><br>
                <a href="{% url 'contact' %}#reserve-spot" class="btn btn-secondary">Make Another Reservation</a>
            </div>
        </div>
    </section>

    <section class="mt-5 reservation-details-section">
        <h4 class="text-center mb-3 reservation-details-header">Reservation Details</h4>
        <table class="table table-bordered reservation-table">
            <thead class="table-header">
                <tr>
                    <th class="table-column">Date</th>
                    <th class="table-column">Time</th>
                    <th class="table-column">Guests</th>
                    <th class="table-column">Location</th>
                    <th class="table-column">Special Requests</th>
                </tr>
            </thead>
            <tbody class="table-body">
                <tr class="table-row">
                    <td class="table-cell">{{ reservation.reservation_time|date:"Y-m-d" }}</td>
                    <td class="table-cell">{{ reservation.reservation_time|time:"H:i" }}</td>
                    <td class="table-cell">{{ reservation.num_guests }}</td>
                    <td class="table-cell">{{ reservation.hall }}</td>
                    <td class="table-cell">{{ reservation.special_requests }}</td>
                </tr>
            </tbody>
        </table>
    </section>
</main>

{% endblock %}